<mat-toolbar color="primary">
  <!-- The menu is attached to and opened via application of the matMenuTriggerFor directive -->
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ul>
      <li><a mat-button routerLink="/dashboard">Dashboard</a></li>
      <li><a mat-button routerLink="/posts">Posts</a></li>
    </ul>
  </mat-menu>
  <span><a routerLink="/">Yuki Kitayama</a></span>
  <span class="spacer"></span>
  <a mat-button routerLink="/amplify-signin" *ngIf="authState !== 'signedin'">Amplify signin</a>
  <div *ngIf="authState === 'signedin' && user">
    <amplify-sign-out button-text="Amplify signout"></amplify-sign-out>
  </div>
  <a mat-button routerLink="/login" routerLinkActive="mat-accent" *ngIf="!userIsAuthenticated">Login</a>
  <a mat-button *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</a>
</mat-toolbar>
