/* https://material.angular.io/components/table/examples */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
}

table {
  width: 100%;
  /* min-height: 200px; */
  /* max-height: 400px; */
  overflow: auto;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 30%;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.at-column-title {
  width: 80%;
}

.mat-column-category {
  width: 10%;
  text-align: center;
}

.mat-column-date {
  width: 10%;
  text-align: center;
}
