<mat-card>
  <mat-card-header>
    <mat-card-title>GitHub</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><a href="https://github.com/yukikitayama/website" target="_blank" class="text-secondary">https://github.com/yukikitayama/website</a></p>
  </mat-card-content>
  </mat-card>

  <mat-card>
  <mat-card-header>
    <mat-card-title>TODO</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Add login button at the top right and allow Yuki to be logged in mode.</li>
      <li>Add eddit button to each post to allow Yuki to edit content if he is in the logged in mode.</li>
      <li>Add pagination to the list of posts.</li>
    </ul>
  </mat-card-content>
</mat-card>
