<main class="pb-5">

  <mat-card>
    <mat-card-header>
      <mat-card-title>GitHub</mat-card-title>
      <mat-card-subtitle>The codes of this website are available at</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p><a href="https://github.com/yukikitayama/website" target="_blank" class="pl-4 text-secondary">https://github.com/yukikitayama/website</a></p>
    </mat-card-content>
  </mat-card>

  <div class="row">

    <div class="col-md">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cost</mat-card-title>
          <mat-card-subtitle>of running this website</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner *ngIf="costsIsLoading"></mat-spinner>
          <div echarts [options]="options" *ngIf="!costsIsLoading" class="demo-chart"></div>
        </mat-card-content>
        <mat-card-actions>
          <mat-form-field appearance="standard" class="pl-4">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <!-- <input matStartDate [value]="startDate.value"> -->
              <input matStartDate [value]="startDate.value" (dateChange)="setStartDate($event)">
              <!-- <input matEndDate [value]="endDate.value"> -->
              <input matEndDate [value]="endDate.value" (dateChange)="setEndDate($event)">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker>
              <mat-date-range-picker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="accent" matDatepickerApply (click)="showCosts()">Apply</button>
              </mat-date-range-picker-actions>
            </mat-date-range-picker>
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-md">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Posts</mat-card-title>
          <mat-card-subtitle>Number of posts by category</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-spinner *ngIf="postsIsLoading"></mat-spinner>
          <div echarts [options]="optionsPostsPieChart" *ngIf="!postsIsLoading" class="demo-chart"></div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Architecture</mat-card-title>
      <mat-card-subtitle>of this website</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/website_architecture.png" class="img-fluid" alt="Architecture image">
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>TODO</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>Update get-post Lambda to get a single post, and allow edit page to load content even if you reload edit page. Probably I need to add param to API gateway, and add if statement to Lambda.</li>
        <li>Add a step to check whether token is valid (meaning decode the token with the same secret) to update-post Lambda.</li>
        <li>Add Lambda/EventBridge to architecture diagram</li>
        <li>Make a dialog pop up when an error occurs by http error interceptor.</li>
        <li>For Posts page, use Angular Material Table to make a table with sorting, pagination, and filtering (https://material.angular.io/components/table/examples)</li>
        <li>Fix ngZone.run() navigation triggered outside Angular zone problem</li>
        <li>Make Amplify auth service</li>
        <li>Make post editable when Amplify signedin</li>
      </ul>
    </mat-card-content>
  </mat-card>

</main>
